<template name="chat">
	<div class="chat-block {{chatStateClass}}" id="chatblock">
		<div class="chat-list">
			<ul class="chat-list-list">
				{{#each chats}}
					<li class="chat">
						<div class="chat-user" style="color: {{user.color}}">{{user.name}}</div>
						<div class="chat-text">{{text}}</div>
					</li>
				{{/each}}
			</ul>
		</div>
		<input type="text" class="chat-prompt txtinp" placeholder="Send message"/>
		<button class="chat-toggle-show">Chat</button>
	</div>
</template>