<template name="games">
	<div class="games">
		<h2 class="games-title">Games</h2>
		<input placeholder="Search..." class="game-shearch txtinp" id="game-shearch" autofocus value="{{searchValue}}">
		<button class="new-game">+</button>
		<ul>
			{{#each list}}
				{{> game}}
			{{/each}}
		</ul>
	</div>
</template>

<template name="game">
	<li class="game {{gameClass}}">
		<div class="game-name">{{name}}</div>
		<div class="game-user">{{user.name}}</div>
		<div class="game-date">{{formatTimestamp createTime}}</div>
		<div class="game-remove"><div class="trash"></div></div>
	</li>
</template>

<template name="popup">
	<div class="popup-glass"></div>
	<div class="popup">
		<h2 class="popup-title">New game</h2>
		<div class="popup-content">
			<input placeholder="Name" class="new-game-name txtinp">
			<button class="creategame-bt bt">Ok</button>
			<button class="new-game-cancel-bt bt">Cancel</button>
		</div>
	</div>
</template>


