<template name="board">
	<div class="board">
		{{#each cards}}
			{{> card}}
		{{/each}}
		{{#each users}}
			{{> user}}
		{{/each}}
		{{> chat}}
	</div>
</template>

<template name="card">
	<div id="{{_id}}"
		class="card {{cardStyle}} {{label}}"
		style="border:2px solid {{cardColor}};left:{{x}}px;top:{{y}}px;z-index:{{z}}">
		<ul class="state-menu" id="sm-{{_id}}">
			<li><button class="card-bt-show {{showClass}}">Public</button></li>
			<li><button class="card-bt-peek {{peekClass}}">Private</button></li>
			<li><button class="card-bt-hide {{hideClass}}">Hide</button></li>
		</ul>
		<ul class="group-menu {{groupStateClass}}" id="gm-{{_id}}">
			<li><button class="group">{{groupButtonText}}</button></li>
			<li><button class="collect">Collect</button></li>
			<li><button class="spread-left">Spread</button></li>
			<li><button class="spread-down">Spread down</button></li>
			<li><button class="shuffle">Shuffle</button></li>
			<li><button class="sort">Sort</button></li>
		</ul>
	</div>
</template>
<template name="user">
	<div class="user" style="top:{{top}}px;left:{{left}}px;border-top: 6px solid {{color}}" id="{{_id}}">
		<img src="{{pic}}" class="user-picture" id="pic{{_id}}"></img>
		<span class="user-name">{{name}}</span>
		<div class="game-quit-bt {{quitClass}}" title="Quit"></div>
	</div>
</template>
