<head>
	<title>Suitup</title>
</head>

<body>
	<div class="wrapper">
		<header>
			<h1>Suit up</h1>
			{{loginButtons align="right"}}
		</header>
		<div class="main">
			{{renderPage}}
		</div>
	</div>
	{{> popup}}
</body>
