$pad1 = .4rem
$pad2 = .8rem
$rad = .4rem
$color = #111
$bg-color = #ccc
$acolor = #eee
$bg-acolor = #444
$bg-comp-color = #9af
$border-style = 1px solid #eee
$trans-time = .5s


body,
header,
h1,h2,ul,li
	padding: 0
	margin: 0

ul
	list-style: none

body
	background-color: #000
	color: $color
	font-size: 14px

header
	margin: 0
	padding: 5px 10px
	background-color: $bg-acolor
	color: $acolor

h1
	font-size: 1.3rem

h2
	font-size: 1.2rem

button
	cursor: pointer
.bt
	padding: $pad1 $pad2
	border: none
	border-radius: $rad
	box-shadow: 3px 4px 2px $bg-acolor
	&:active
		transform: translate(1px, 1px)
		box-shadow: 2px 3px 2px $bg-acolor
	&:focus
		color: $bg-comp-color

.hidden
	visibility: hidden
	display: none
.txtinp
	height: 3rem
	line-height: 3rem
	font-size: 1.2rem
	padding: 0 $pad2