.group-menu
	background-color: $bg-acolor
	color: $acolor
	border-radius: 0 0 $rad $rad
	position: absolute
	overflow: hidden
	top: 117px
	left: 0
	z-index: -1
	height: 0
	transition: all $trans-time
.card:hover .group-menu
	height: 1.5rem
.card:hover .group-on
	height: 11.1rem
.card:hover .state-menu
	height: 3rem
.state-menu
	position: absolute
	left: 0
	bottom: 118px
	z-index: 10
	background-color: $bg-acolor
	border-radius: $rad $rad 0 0
	overflow: hidden
	height: 0
	transition: all $trans-time
.card-selected .state-menu
	box-shadow: 3px 0 10px $bg-acolor
.group-menu button,
.state-menu button
	width: 77px
	background-color: transparent
	color: $acolor
	border: none
.group-on .group,
.group-menu button:hover,
.state-menu button:hover
	background-color: #fff
	color: #333
