.chat-block
	position: fixed
	top: 2rem
	bottom: $pad2
	border-radius: $rad 0 0 $rad;
	box-shadow: -5px 5px 10px $bg-acolor
	background-color: $bg-acolor
	color: $acolor
	transition: all $trans-time
	width: 250px
	z-index: 50000
	opacity: .9
	h2
		color: $acolor
	input
		width: 100%
.chat-open
	right: 0
.chat-closed
	right: -250px
.chat-list
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 4rem
	overflow: auto
.chat
	padding: $pad1
	border-bottom: $border-style
	line-height: 1;
	animation: apear $trans-time

@keyframes apear
	from
		line-height: 0

.chat-user
	font-size: 0.8rem
	text-align: right
.chat-text
	font-size: 1.2rem
.chat-toggle-show
	position: absolute
	top: 40%
	left: -2.4rem;
	background-color: $bg-acolor
	box-shadow: -5px 5px 10px $bg-acolor
	color: $acolor
	border: none
	border-radius: $rad 0 0 $rad;
	cursor: pointer
	height: 3rem

.chat-prompt
	position: absolute
	bottom: 0
	left: 0
	right: 0
