.games
	margin-top: 2rem
	background-color: $bg-acolor
	color: $acolor
	overflow: hidden
	position: relative
	ul
		background-color: $bg-color
		color: $color
.games-title
	padding: $pad1 $pad2
	height: 1.2rem
.game-shearch
	width: 100%
	border: none
.new-game
	position: absolute
	top: 0
	right: -2px
	font-size: 2rem
	padding: 0
	line-height: 2rem
	height: 2rem
	font-weight: bold
	border-radius: 0
	&:focus
		color: blue
.new-game-name
	width: 100%
.game
	position: relative
	border-bottom: $border-style
	padding: $pad1 $pad2
	cursor: pointer
.game-name
	font-size: 1.2rem
.game-remove
	display: none
	position: absolute
	top: $pad1
	right: $pad2
.game-date
	position: absolute
	top: $pad1
	right: 2.4rem
.game-user
	position: absolute
	top: $pad1
	right: 12rem
.game:hover,.game-selected
	background-color: $bg-comp-color

.game:hover .game-remove
	display: block

.trash
	font-size: 8px
	position:relative
	width:2.1em
	height:2.5em
	background: #2C2C2C
	border-bottom-left-radius: 0.6em
	border-bottom-right-radius: 0.6em
	box-shadow: inset 0 0 0 0.5em #2C2C2C,inset 0.55em 0.2em 0 0.15em #fff,inset -0.55em 0.2em 0 0.15em #fff,
	inset 0.9em 0 0 0.15em #2C2C2C,inset 1em 0 0 0.15em #fff

.trash:before
	content: ""
	position: absolute
	top: -0.5em
	left: -0.15em
	width: 2.2em
	height: 0.15em
	background: #2C2C2C
	border: 0.15em solid #2C2C2C
	border-top-left-radius: 0.5em
	border-top-right-radius: 0.5em

.trash:after
	content:""
	position:absolute
	display:block
	top: -1em
	left: 0.8em
	bottom:4.2em
	width: 0.6em
	height:0.6em
	background: #2C2C2C
	border-top-left-radius: 0.3em
	border-top-right-radius: 0.3em
