.popup-active
	.wrapper
		transform: scale(.9)
		-webkit-filter: blur(2px)
	.popup-glass
		visibility: visible
	.popup
		transform: scale(1)
		opacity: 1
		visibility: visible
.wrapper
	background-color: $bg-color
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjOWU5ZTllIj48L3JlY3Q+CjxwYXRoIGQ9Ik0wIDVMNSAwWk02IDRMNCA2Wk0tMSAxTDEgLTFaIiBzdHJva2U9IiM4ODgiIHN0cm9rZS13aWR0aD0iMSI+PC9wYXRoPgo8L3N2Zz4=");
	transition: all $trans-time

.popup-glass
	background-color: #000
	visibility: hidden
	opacity: .6
	position: absolute
	width: 100%
	height: 100%
	z-index: 9000

.popup
	transform: scale(3)
	transition: all $trans-time
	visibility: hidden
	opacity: 0
	z-index: 9001
	position: absolute
	background-color: $bg-color
	border-radius: $rad
	border: $border-style
	top: 50%
	left: 50%
	width: 300px
	height: 117px
	margin: -100px 0 0 -150px
	overflow: hidden
.popup-title
	padding: $pad1 $pad2
	background-color: $bg-acolor
	color: $acolor
	border-radius: $rad $rad 0 0