/**** Suits ****/
.heart-1
	background-position:-4px 249px
.heart-2
	background-position: 950px 249px
.heart-3
	background-position: 871px 249px
.heart-4
	background-position: 792px 249px
.heart-5
	background-position: 713px 249px
.heart-6
	background-position: 634px 249px
.heart-7
	background-position: 555px 249px
.heart-8
	background-position: 476px 249px
.heart-9
	background-position: 397px 249px
.heart-10
	background-position: 318px 249px
.heart-11
	background-position: 239px 249px
.heart-12
	background-position: 160px 249px
.heart-13
	background-position:  81px 249px

.club-1
	background-position:  -4px 494px
.club-2
	background-position: 950px 494px
.club-3
	background-position: 871px 494px
.club-4
	background-position: 792px 494px
.club-5
	background-position: 713px 494px
.club-6
	background-position: 634px 494px
.club-7
	background-position: 555px 494px
.club-8
	background-position: 476px 494px
.club-9
	background-position: 397px 494px
.club-10
	background-position: 318px 494px
.club-11
	background-position: 239px 494px
.club-12
	background-position: 160px 494px
.club-13
	background-position:  81px 494px

.diamond-1
	background-position:  -3px 371px
.diamond-2
	background-position: 950px 371px
.diamond-3
	background-position: 871px 371px
.diamond-4
	background-position: 792px 371px
.diamond-5
	background-position: 713px 371px
.diamond-6
	background-position: 634px 371px
.diamond-7
	background-position: 555px 371px
.diamond-8
	background-position: 476px 371px
.diamond-9
	background-position: 397px 371px
.diamond-10
	background-position: 318px 371px
.diamond-11
	background-position: 239px 371px
.diamond-12
	background-position: 160px 371px
.diamond-13
	background-position:  81px 371px
.spade-1
	background-position:  -4px 125px
.spade-2
	background-position: 950px 125px
.spade-3
	background-position: 871px 125px
.spade-4
	background-position: 792px 125px
.spade-5
	background-position: 713px 125px
.spade-6
	background-position: 634px 125px
.spade-7
	background-position: 555px 125px
.spade-8
	background-position: 476px 125px
.spade-9
	background-position: 397px 125px
.spade-10
	background-position: 318px 125px
.spade-11
	background-position: 239px 125px
.spade-12
	background-position: 160px 125px
.spade-13
	background-position:  81px 125px