.user
	cursor: move
	position: absolute
	background-color: $bg-acolor
	color: $acolor
	border-radius: $rad
	padding: $pad1
	width: 220px
	height: 96px
	z-index: 50001
	opacity: .9
	&:hover
		.game-quit-bt
			opacity: 1
.user img
	border-radius: $rad
	float: left
	margin-right: $pad1
	max-height: 96px
	max-width: 96px
.game-quit-bt
	position: absolute
	bottom: $pad1
	right: 0.7em
	width: 0.3em
	height: 1.5em
	background: $acolor
	transform: rotate(45deg)
	font-size: 22px
	cursor: pointer
	opacity: 0

.game-quit-bt:before
	content:""
	position:absolute
	top:0
	left: 0
	width: 0.3em
	height: 1.5em
	background: $acolor
	transform: rotate(90deg)
